<div class="card-content white-text">
    <span class="card-title">
        {{project.title}}
    </span>
    <p>{{project.productType}}</p>
    <img src="/images{{project.image}}" alt="{{project.description}} image" style="width:100%;"/>
    <p>{{project.timeSinceCreation}}</p>
</div>
<div class="card-action">
    <a href="">Complete Project</a>
</div>

{{yield}}

